# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = valdemarua
email = valdemarua@users.noreply.github.com
[diff]
  # https://git-scm.com/docs/git-diff#Documentation/git-diff.txt-plain
	colorMoved = plain # color moved text shorter than 20 characters
[pull]
	rebase = true
[fetch]
	prune = true
